
<% IF wronglog == 1 %>
<p>НЕТ ТАКОГО ПОЛЬЗОВАТЕЛЯ!!!!!!111!!1</p><Br>
<% END %>
<form name="login" method="POST">
  <p><b>Ник:</b><br>
    <input name = 'nick' type="text" size="40"><Br>
  <p><b>Пароль:</b><br>
    <input name = 'password' type="password" size="40"><Br>
  </p>
  <p>
    <input type="submit" name="submit" value="Войти">
</p></form>

